body, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, dl, dd, dt, img {
  margin: 0;
  padding: 0;
}

section, article, iframe, img {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
}

html, button, input, select, textarea {
  font-family: Serif;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: normal;
}

/* Styles for LATimes third-party page nav. */
/* Narrow screen and default styles. */
div[data-role~='3ptnav'] {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.trb_3pt_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #282828;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  height: 100%;
}

ul[data-role~='3ptnav_mainMenu'] {
  display: none;
  position: fixed;
  width: 16em;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.trb_3pt_mainLink {
  position: relative;
  padding: 0;
  text-align: left;
  background: #282828;
  color: #fff;
  padding: 0 0 0 1.4em;
}

.trb_3pt_mainLink:hover {
  background: #00758D;
}

.trb_3pt_mainLink a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 50px;
}

.trb_3pt_footerLink {
  color: #999;
}

/* LOGO: */
.trb_3pt_logo {
  display: block;
  float: right;
  padding: 0 1rem 0 0;
  margin: 0 0 0 1em;
  width: 240px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 65%;
}

span[data-role~='3ptnav_button'] {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 30px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #282828;
  border-width: 15px 12px 5px 12px;
}

span[data-role~='3ptnav_button'] hr {
  height: 4px;
  padding: 0;
  margin: 0 0 4px 0;
  border: none;
  background-color: #fff;
}

.trb_3pt_subMenu {
  display: none;
}

div[data-role~='3ptnav']:hover {
  overflow: visible;
}

span[data-role~='3ptnav_button']:hover + ul[data-role~='3ptnav_mainMenu'] {
  display: block;
  z-index: 214748000;
}

ul[data-role~='3ptnav_mainMenu']:hover {
  display: block;
}

ul[data-role~='3ptnav_mainMenu'][data-state~='3ptnav_open'] {
  display: block !important;
}

ul[data-role~='3ptnav_mainMenu'][data-state~='3ptnav_closed'] {
  display: none !important;
}

/* Wide screen styles. */
@media only screen and (min-width: 520px) {
  div[data-role='3ptnav']:hover {
    overflow: hidden;
  }

  ul[data-role~='3ptnav_mainMenu'] {
    display: block;
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 214748000;
  }

  .trb_3pt_mainLink {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 20px 0 10px;
  }

  .trb_3pt_logo {
    float: left;
    padding: 0;
  }

  span[data-role~='3ptnav_button'] {
    display: none;
  }

  .trb_3pt_subMenu {
    display: none;
    position: fixed;
    margin: 0 0 0 -10px;
    padding: 0;
    width: 14em;
    background: #00758D;
    list-style: none;
    z-index: 214000000;
  }

  .trb_3pt_subLink {
    text-align: left;
    width: 100%;
    background: #00758D;
    color: #fff;
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 2.5rem;
  }

  .trb_3pt_subLink h1 {
    font-family: Georgia, serif;
    font-size: 1.3em;
    color: #282828;
    text-transform: none;
    margin: 0;
    padding: 1.5em 0 0 10px;
  }

  .trb_3pt_subLink a {
    padding: 0;
  }

  .trb_3pt_subLink:hover {
    background: #282828;
  }

  .trb_3pt_mainLink:hover .trb_3pt_subMenu {
    display: block;
    z-index: 214000000;
  }

  .trb_3pt_subMenu:hover {
    display: block;
  }
}
/* end wide */
h1, h2, h3, h4, h5, h6 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: normal;
}

ul, menu, dir {
  display: block;
}

h2, *:-moz-any(article, aside, nav, section) h1 {
  margin: 0 0 0 0;
}

h1 {
  margin: 0 0 0 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 8px auto;
  margin: 0px auto;
  overflow-x: visible;
  overflow-y: visible;
  background-color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body, div[data-role~='page'] {
  margin: 8px auto;
  height: 100%;
  width: 1140px;
}

a {
  color: #333333;
}
a:hover {
  color: #0055ff;
}

details {
  position: relative;
}
details ul {
  -webkit-margin-before: 0px;
  -moz-margin-before: 0px;
  -ms-margin-before: 0px;
  -o-margin-before: 0px;
  margin-before: 0px;
  -webkit-margin-after: 0px;
  -moz-margin-after: 0px;
  -ms-margin-after: 0px;
  -o-margin-after: 0px;
  margin-after: 0px;
  -webkit-margin-before: 0px;
  -moz-margin-before: 0px;
  -ms-margin-before: 0px;
  -o-margin-before: 0px;
  margin-before: 0px;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  -ms-margin-start: 0px;
  -o-margin-start: 0px;
  margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  -ms-margin-end: 0px;
  -o-margin-end: 0px;
  margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  -ms-padding-start: 0px;
  -o-padding-start: 0px;
  padding-start: 0px;
  font-size: 11px;
  margin-top: 12px;
}
details li {
  list-style-type: disc;
  margin-bottom: 10px;
  position: relative;
  left: 15px;
}
details summary {
  margin: 2px 0;
}
details select {
  width: 188px;
  margin: 20px auto;
}

.adss_inline {
  display: inline !Important;
}

iframe {
  border: none;
}

[data-role~='adss_3ptnav'] {
  height: 50px;
  position: relative;
  width: 1140px;
  height: 50px;
}

[data-role~='adss_3ptnav'] h2{
    float:right;
}

[data-role~='adss_3ptnav'] h1, div[data-role~='adss_3ptnav'] h2, div[data-role~='adss_3ptnav'] h3, div[data-role~='adss_3ptnav'] h4, div[data-role~='adss_3ptnav'] h5, div[data-role~='adss_3ptnav'] h6 {
  display: inline;
}

nav.adss_3pt_nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #282828;
  font: normal normal normal 10px Arial, sans-serif;
  text-transform: uppercase;
  height: 100%;
}
nav.adss_3pt_nav header {
  float: left;
}
nav.adss_3pt_nav li.adss_3pt_mainLink:hover {
  background: #00758D;
}
nav.adss_3pt_nav li.adss_3pt_mainLink:hover a {
  color: white;
  font-weight: bold;
}

#ad-services {
  float: left;
  display: block;
  color: white;
  margin: 15px 0;
  display: block;
  z-index: 2;
  font-size: 20px;
  line-height: 20px;
  text-transform: none;
}

.adss_3pt_logo {
  padding: 11px 0px;
  width: 240px;
  float: left;
  margin: 0 0 0 30px;
}
.adss_3pt_logo img {
  display: block;
  z-index: 2;
  height: 28px;
}
.adss_3pt_logo i u {
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 5000px;
}

.adss_3pt_subMenu {
  display: none;
  position: absolute;
  margin: 0 0 0 -10px;
  padding: 0;
  width: 140px;
  background: #00758D;
  list-style: none;
  z-index: 214000000;
}

.adss_3pt_subLink.adss_subMenu_heading {
  background: #00758D;
  padding: 10px 30px 0 10px;
}
.adss_3pt_subLink.adss_subMenu_heading:hover {
  background: #00758D;
}
.adss_3pt_subLink.adss_subMenu_heading a {
  background: #00758D;
  color: #282828 !important;
  line-height: 25px;
}
.adss_3pt_subLink.adss_subMenu_heading a:hover {
  background: #00758D;
  color: #282828 !important;
}

.adss_3pt_subLink {
  text-align: left;
  width: 100%;
  background: #00758D;
  color: #fff;
  margin: 0;
  padding: 0 30px 0 10px;
  line-height: 25px;
}
.adss_3pt_subLink:hover {
  background: #282828;
}
.adss_3pt_subLink a {
  padding: 0;
}

.adss_3pt_subMenu {
  margin: 0 0 0 -10px;
  top: 50px;
}

.adss_3pt_mainLink {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 20px 0 10px;
}

.adss_3pt_mainLink:hover .adss_3pt_subMenu {
  display: block;
  z-index: 214000000;
}

.adss_3pt_mainLink a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 50px;
}

ul[data-role~='adss_3ptnav_mainMenu'] {
  margin: 0 40px 0 0;
  padding: 0;
  z-index: 214748000;
  float: right;
}

.flexbox div[data-role="adss_3ptnav"], .flexbox nav.adss_3pt_nav, .flexbox ul[data-role~='adss_3ptnav_mainMenu'] {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  flex-flow: row;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: auto;
}
.flexbox ul[data-role~='adss_3ptnav_mainMenu'] {
  min-width: 480px;
}
.flexbox nav.adss_3pt_nav header {
  min-width: 490px;
}
.flexbox div[data-role="adss_3ptnav"] {
  max-width: 1140px;
  min-width: 560px;
  width: auto;
}
.flexbox .adss_3ptnav {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
