.idea
.DS_STORE
.project
\#*
ignore_*
.sass-cache/*
.sass-cache
*\~
*.min.*
**/*.min.*
node_modules/*
node_modules
*private*
tests/**/examples
tests/**/examples/*
tests/unit/examples
tests/results/*
**/*.log
**/*.psd
**/*.ai
assets/lib/**
!assets/lib/*.js
*_BAK*
assets/css/
assets/css/*
assets/styleguide/
assets/styleguide/*

*jsdoc*
jsdoc/*
