<div class="body driver_side">
	<div class="top_thing"></div>
	<div class="window driver_window">
		<div class="drivers_window">

		</div>
	</div>
	<div class="logo_container">
		<div class="logo peapod_logo" ><span>P</span><span>e</span><span>a</span><span>p</span><span>o</span><span>d</span></div>
		<div class="text">peapod.com</div>
		<div class="text">Online shopping and delivery</div>
	</div>
	<div class="middle_thing"></div>
</div>
<div class="body driver_side inside"></div>
<div class="body passenger_side">
	<div class="top_thing"></div>
	<div class="window driver_window">
		<div class="drivers_window">

		</div>
	</div>
	<div class="logo_container">
		<div class="logo peapod_logo" ><span>P</span><span>e</span><span>a</span><span>p</span><span>o</span><span>d</span></div>
		<div class="text">peapod.com</div>
		<div class="text">Online shopping and delivery</div>
	</div>
	<div class="middle_thing"></div>
</div>
<div class="body passenger_side inside"></div>
<div class="body top_view"></div>
<div class="body bottom_view"></div>
<div class="body front_side"></div>
<div class="body rear_side"></div>