<div class="hubcap">
	<div class="inner_hubcap">
		<div class="bolt-circle">
			<div class="bolt-spacer">
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="innermost_hubcap_thing"></div>
			</div>
			<div class="bolt-spacer">
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="bolt"></div>
				<div class="innermost_hubcap_thing"></div>
			</div>
		</div>
	</div>
</div>