<!DOCTYPE html>

<html ng-app="dft">
<head>
    <title>tests</title>
{{>head_stuff}}
</head>
<body>
	{{>noscript}}
	{{>nav}}
	<main>
{{#unless body}}
	{{>template_maker}}
{{/unless}}
{{#if body}}
	{{{body}}}
{{/if}}
	</main>
<footer>
	{{>footer}}
</footer>
	{{>end_scripts}}
</body>
</html>