
@import "bourbon/bourbon";
@import "flex-box";
$adss_packagelink : #006699;
$adss_packagelink-hover : #666;
$trb_3pt_nav_bg_clr: #282828;
$link-color : #333;
$link-color-hover : #05f;
@mixin margin-clear($amt){
	h1, h2, h3, h4, h5, h6 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}}
@mixin hs(){
	h1, h2, h3, h4, h5,h6{
		@content;
	}
}
@include hs() {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: normal;
}

.adss_module_title {
    display: table;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: #c0dfe5;
    h1{
        display: table-cell;
        padding-left: 20px;
        color: #333;
        vertical-align: middle;
        font: normal normal 100 24px "Georgia", serif;
    }
}
.adss_package_image{
    position:relative;
    display: block;
    overflow: hidden;
    max-width: 188px;
    max-height:84px;
    img{
        position:relative;
        width: 188px;
        height:84px;
    }
}
.adss_package_sm > header {
    margin:12px 0px 25px;
    max-width: 188px;
    color: #666;
    h1{
        overflow:hidden;
        height: 50px;
        font: normal normal bolder 20px Arial, sans-serif;
        font-variant: small-caps;
        text-transform: lowercase;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
    }
    h2{
        font: normal normal normal 11px Arial, sans-serif;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
    }
}
details, .adss_package_description{
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    summary{
        color: $adss_packagelink;
        &:hover{
            color: $adss_packagelink-hover;
            cursor: pointer;
        }
    }
}
thead.adss_package_summary{
    th{
        text-align: left;
        font-weight: normal;
    }
    .adss_table_summary{
        font-size: 11px;
        font-family: Arial, sans-serif;
    }
}
.adss_package{
    display:inline-block;
    padding-right: 20px;
    max-width: 264px;
    width: 30%;
}
.adss_package_call_to_action a:hover {
    color:#666;
}
.adss_package_wrapper{
	padding-left: 20px;
}
.purchase{
    @include linear-gradient(#fff, #aaa);
    left: 0;
    margin:auto;
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    border-right-color:#a2a2a2;
    border-bottom-color: #a2a2a2;
    border-radius: 15px;
    text-transform: uppercase;
    font: normal normal bold 11px "Arial", sans-serif;
}
.more-info{
    float: left;
    padding: 7px 0px 7px;
    border:none;
}


.flexbox{
    .trb_adss_allContentWrapper,
    .adss_package_wrapper,
    .adss_package_sm{
        @include display(flex);
    }
    .adss_package,
    .adss_main_content{
        @include flex(1);
    }
    .trb_adss_allContentWrapper{
        @include flex-wrap(wrap);
    }
    .adss_package_wrapper{
        @include flex-flow(row);
        @include justify-content(center);
    }

    .adss_package_sm{
        @include flex-flow(column);
   }
    #adss_page_header{
        width: 100%;
        margin: auto;
        order:1;
        margin-top: 14px;
    }
    .adss_main_content{
        order: 3;
        margin: auto;
        margin-bottom: 20px;
        width:auto;
        min-width: 590px;
        max-width: auto;

    }
    #adss_left_nav_container{
      order:2;
      min-width: 225px;
    }
    .adss_package{
        margin:0 auto;
        padding-right: 0;
        max-width: 188px;
        width: auto;
        &:first-of-type{
            margin-left: 0;
        }
        &:last-of-type{
            margin-right: 50px;
            margin-right: 0;
        }
    }
    .adss_package_sm >header, .adss_package_content{
            max-width: 188px;
        }
}
.no-flexbox.flexboxlegacy{
    .adss_package_wrapper {
        @include box();
        @include box-pack(start);
        @include box-align(start);
        width: 100%;
    }
    .adss_package{
        position:relative;
        top:5px;
        display:block;
        margin-right: 60px;
        max-width: 188px;
        &:last-of-type{
            margin-right:0;
        }
    }
    .adss_package_content{
        margin-right: 20px;
    }
}
.adss_package_call_to_action{
    position:relative;
    width: 100%;
    height: 30px;
    font-size: 12px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    a{
        margin-right: 5px;
        color: $adss_packagelink;
        &:hover{
            color:$adss_packagelink-hover;
        }
    }
}
.purchase{
    float: left;
    flex: 1.2;
    display: flex;
    align-content: center;
    justify-content: center;
}
.more-info{
    float:left;
    flex: 2;
}
.no-flexbox{
    .trb_adss_allContentWrapper{
        min-width: 1140px;
        width:1140px;
    }
}